<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Board - Job Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css')}}">
</head>
<body>
    <div class="contact">
    <header>
        <div class="navbar">
            <h1 class="logo">Job Board</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="{{url_for('jobbrowse')}}">Browse Jobs</a></li>
                    <li><a href="/jobpost">Post a Job</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="job-details-section">
            <h2>Job Title</h2>
            <div class="defination-group">
            <dl>
                <div>
                    <dt>Company:</dt>
                    <dd>Company XYZ</dd>
                </div>
                <div>
                    <dt>Location:</dt>
                    <dd>City XYZ</dd>
                </div>
                <div>
                    <dt>Description:</dt>
                    <dd>Some Description of the company</dd>
                </div>
                <div>
                    <dt>Requirements:</dt>
                    <dd>List out all the requirements</dd>
                </div>
                <div> 
                    <dt>Salary:</dt>
                    <dd> &#x20B9;50,000 - &#x20B9; 70,000 per year</dd>
                </div>
                <div>
                    <dt>Contact:</dt>
                    <dd>contact@company.com</dd>
                </div>
            </dl>
            </div>

            <h3>Submit Your Resume</h3>
            <form action="#" method="POST" enctype="multipart/form-data">
                <label for="resume">Choose file:</label>
                <input type="file" id="resume" name="resume" accept=".pdf,.doc,.docx">
                <button type="submit" class="btn">Submit</button>
            </form>
        </section>
    </main>
    </div>
    

    <footer>
        <p>&copy; 2023 Job Board. All rights reserved.</p>
    </footer>
</body>
</html>
