<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Board - Post a Job</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css')}}">
</head>
<body>
    <div class="container">
    <header>
        <div class="navbar">
            <h1 class="logo">Job Board</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="{{url_for('jobbrowse')}}">Browse Jobs</a></li>
                    <li><a href="/jobpost">Post a Job</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="post-job-section">
            <h2>Post a Job</h2>
            <form action="#" method="POST">
                <div class="form-grid">
                    <div class="form-group">
                        <label for="title">Job Title:</label>
                        <input type="text" id="title" name="title" required>
                    </div>
                    <div class="form-group">
                        <label for="company">Company:</label>
                        <input type="text" id="company" name="company" required>
                    </div>
                    <div class="form-group">
                        <label for="location">Location:</label>
                        <input type="text" id="location" name="location" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea id="description" name="description" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="requirements">Requirements:</label>
                        <textarea id="requirements" name="requirements" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="salary">Salary:</label>
                        <input type="text" id="salary" name="salary" required>
                    </div>
                    <div class="form-group">
                        <label for="contact">Contact:</label>
                        <input type="email" id="contact" name="contact" required>
                    </div>
                </div>
                <button type="submit" class="btn">Submit</button>
            </form>
        </section>
    </main>
    </div>


    <footer>
        <p>&copy; 2023 Job Board. All rights reserved.</p>
    </footer>
</body>
</html>
