<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Board - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css')}}">
</head>
<body>
    <div class="container">
        <header>
            <div class="navbar">
                <h1 class="logo">Job Board</h1>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="{{url_for('jobbrowse')}}">Browse Jobs</a></li>
                        <li><a href="/jobpost">Post a Job</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            <section class="forms-section">
                <div class="form-container-login">
                    <h2>Login</h2>
                    <form action="/login" method="post">
                        <input type="email" name="email" placeholder="Email" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <button type="submit" class="btn">Login</button>
                    </form>
                    <p>Don't have an account? <b> Register</b></p>
                </div>

                <div class="form-container-register">
                    <h2>Register</h2>
                    <form action="/register" method="post">
                        <input type="text" name="name" placeholder="Name" required>
                        <input type="email" name="email" placeholder="Email" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <label for="role">Select you Role</label>
                        <select name="role" id="role">
                            <option value="1">Job Seeker</option>
                            <option value="2">Recuiter</option>
                        </select>

                        <button type="submit" class="btn">Register</button>
                    </form>
                    <p>Already have an account?  <b> Login </b></p>
                </div>
                        {{ message }}
            </section>
        </main>
    </div>

        <footer>
            <p>&copy; 2023 Job Board. All rights reserved.</p>
        </footer>
</body>
</html>
