<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css')}}">
</head>
<body>
    <div class="container">
    <header>
        <div class="navbar">
            <h1 class="logo">Job Board</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="{{url_for('jobbrowse')}}">Browse Jobs</a></li>
                    <!-- <li><a href="/jobpost">Post a Job</a></li> -->
                    <li><a href="/logout">logout</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="profile-section">
            <div class="profile-header">
                <div class="profile-photo">
                    <img src="profile-photo.gif" alt="Profile Photo">
                </div>
                <div class="profile-info">
                    <h2>Some Body</h2>
                    <p>Cloud App Developer</p>
                    <p>Location: City, Country</p>
                    <p>Email: somebody@example.com</p>
                    <p>Phone: +1 123-456-7890</p>
                </div>
            </div>
            <div class="profile-summary">
                <h3>Profile Summary</h3>
                <p>summary of the profile</p>
            </div>
            <div class="profile-experience">
                <h3>Experience</h3>
                <ul>
                    <li>
                        <h4>Company A</h4>
                        <p>DevOps Engineer</p>
                        <p>June 2018 - Present</p>
                    </li>
                    <li>
                        <h4>Company B</h4>
                        <p>Web Designer</p>
                        <p>January 2016 - May 2018</p>
                    </li>
                </ul>
            </div>
            <div class="profile-education">
                <h3>Education</h3>
                <ul>
                    <li>
                        <h4>University A</h4>
                        <p>Bachelor's Degree in Computer Science</p>
                        <p>2012 - 2016</p>
                    </li>
                </ul>
            </div>
            <div class="profile-skills">
                <h3>Skills</h3>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>Flask</li>
                    <li>Devops</li>
                </ul>
            </div>
        </section>
    </main>
    </div>

    <footer>
        <p>&copy; 2023 Job Board. All rights reserved.</p>
    </footer>
</body>
</html>
